### Print statement

In [3]:
print('Hello')

Hello

In [5]:
print('Hello again!')

Hello again!

In [5]:
print('Hello again!')

Hello again!

# Keyword

- We cannot use keyword for variable name, function name, and other identifiers
- Keywords are case-sensitive
- All keywords except True, False and None are in lower case

In [ ]:
True, False, None

In [16]:
True = 'this is my variable'

SyntaxError: cannot assign to True (3921662828.py, line 1)

In [25]:
def print_val(): #name
    a = 2
    b = 'Smith'
    print(a)

## Literals
- A raw data that we assign to a variables

In [ ]:
True
False
is
in
for
def
if
elif
except
pass
break

# Identifiers

- It can be a combination of texts (a-z or A-Z), numbers (0-9) and a special symbols (_)
- It cannot start with a digit, it can be like var1, var1234
- Keywords can't be used as a identifier
- We can't use special symbols (!, @, #, $, % etc)

In [35]:
1var = 5

SyntaxError: invalid decimal literal (4231524775.py, line 1)

In [37]:
def 1print_val():
    a = 2
    print(a)

SyntaxError: invalid decimal literal (728226781.py, line 1)

In [39]:
!myvar = 10

'myvar' is not recognized as an internal or external command,
operable program or batch file.

# Indendation

In [ ]:
#data types

1, 2, 3 - int
'name', 'place' - str
1.4, 5.9 - float

In [61]:
def print_my_name():
    name = 'John'
    a = 10
    b = 15
    if a > b:
        print('false')
    else: #line 7
        print('true') #last line of the func print_my_name

print('end of func')

end of func

In [63]:
print_my_name()

true

# Python statements

 ##### Multi-line statement

In [68]:
add_num = 1 + 2 + 3 + 4 + \
5 + 6 + \
7+ 8

print(add_num)

36

In [122]:
add_num1 = (1 + 2 + 3 + 4 + 
5 + 6 + 
7+ 8)

print(add_num1)

36

In [136]:
type(add_num1)

int

In [84]:
var1 = 10; var2 = 14; var3 = 40
print('Value for var1:', var1, '\n' 'Value for var2:', var2, '\n' 'Value for var:', var3)

Value for var1: 10
Value for var2: 14
Value for var: 40

## indendation example

In [ ]:
range = [1, 2, 3, 4, 5, 6, 7 ]

In [6]:
list(range(1, 8, 3))

[1, 4, 7]

In [101]:
for i in range(10, 1, -1): # i = 3  ....... 5= 5 - condition satisfied
    print(i)
    if(i == 5): #5 = 5
        break

10
9
8
7
6
5

In [91]:
?range

Init signature: range(self, /, *args, **kwargs)
Docstring:
range(stop) -> range object
range(start, stop[, step]) -> range object

Return an object that produces a sequence of integers from start (inclusive)
to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
These are exactly the valid indices for a list of 4 elements.
When step is given, it specifies the increment (or decrement).
Type:           type
Subclasses:

In [129]:
?print

Signature: print(*args, sep=' ', end='\n', file=None, flush=False)
Docstring:
Prints the values to a stream, or to sys.stdout by default.

sep
  string inserted between values, default a space.
end
  string appended after the last value, default a newline.
file
  a file-like object (stream); defaults to the current sys.stdout.
flush
  whether to forcibly flush the stream.
Type:      builtin_function_or_method

In [93]:
list1 = [1, 2, 3, 4, 5, 6, 7 ]
list2 = ['Ram', 'Swetha', 'Pranesh']

In [ ]:
['Ram' -> 0, 'Swetha' ->1, 'Pranesh' ->2]

In [95]:
for i in list2: # for every element in the list2
    print(i) #l print those elements

Ram
Swetha
Pranesh

In [105]:
for i in range(1, 5): print(i)

1
2
3
4

In [137]:
if True:#1
print('true')#2

IndentationError: expected an indented block after 'if' statement on line 1 (324628740.py, line 2)

### Comments

In [ ]:
# Fun a range function and print it out
for i in range(1, 5): print(i)

In [139]:
""" Hello , this is my first line
This is my second line
And this is my third line"""

' Hello , this is my first line\nThis is my second line\nAnd this is my third line'

### Docstring

In [113]:
def docstring_fn():
    """ This is my docstring"""
    print('Example docstring function')

In [115]:
docstring_fn()

Example docstring function

In [117]:
print(docstring_fn.__doc__)

 This is my docstring

In [119]:
def add_number(a):
    """Function to return the addition of numbers"""
    return a + 3

In [121]:
add_number(2)

5

In [123]:
print(add_number.__doc__)

Function to return the addition of numbers

In [131]:
# next line

In [135]:
# next line

# Variable

In [13]:
var1, var2, var3 = 1, 2, 3

print(var1, var2, var3)

1 2 3

In [15]:
var1 = var2 = var3 = var4 = 10

print(var1, var2, var3, var4)

10 10 10 10

In [1]:
import imran

ModuleNotFoundError: No module named 'imran'

In [21]:
imran.name, imran.number, imran.address

('Imran', 100, 7400)

In [3]:
import constant

In [5]:
constant.pi

3.14

# Data types

In [36]:
a= 4
b = 10.5
c = 'name'

In [38]:
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

# List

- Lists are an ordered sequence of items
- Lists doesn't need to be of same data types
- List are mutable

In [79]:
list1 = [1, 3, 5, 7, 'one', 'two', 'three', 5.7, 3.4, 6.2, 3, 3, 3, 3]

print(list1)

[1, 3, 5, 7, 'one', 'two', 'three', 5.7, 3.4, 6.2, 3, 3, 3, 3]

### slicing

In [53]:
list1[4:7]

['one', 'two', 'three']

In [57]:
list1[8]

3.4

In [59]:
list1[3] = 10

In [61]:
list1

[1, 3, 5, 10, 'one', 'two', 'three', 5.7, 3.4, 6.2]

# Tuple
- Tuple is an ordered sequence of items
- Tuple is immutable

In [99]:
tuple1 = (1, 2, 3, 4, 5 , 5, 5, 5, 'one', 'two')

In [101]:
tuple1

(1, 2, 3, 4, 5, 5, 5, 5, 'one', 'two')

In [70]:
tuple1[2] = 10

TypeError: 'tuple' object does not support item assignment

In [73]:
tuple1[2:4]

(3, 4)

In [148]:
tupel2 = (1)
tupel3 = (1,)

In [150]:
type(tupel2)

int

In [154]:
type(tupel3)

tuple

# String

In [103]:
string1 = 'This is my string1398'

In [105]:
print(string1)

This is my string1398

In [86]:
string1[2:9]

'is is m'

In [90]:
string1[3] = 'r'

TypeError: 'str' object does not support item assignment

# Set
- Set is unordered
- Set is also doesn't contain duplicate

In [107]:
set1 = {1, 3, 5, 1, 3, 5, 'one', 'one', 'two'}

In [109]:
print(set1)

{1, 3, 5, 'one', 'two'}

In [97]:
set1[1] = 0

TypeError: 'set' object does not support item assignment

In [111]:
set1[1:3]

TypeError: 'set' object is not subscriptable

In [ ]:
[1, 2, 7, 5, 33, 3, 50, 20]

In [116]:
set2 = {4, 3, 6, 'seven', 2, 7,8 , 9, 33, 54, 22, 55, 780, 432, 666, 23, 'one' , 'two' , 77, 'thirty'}

In [118]:
print(set2)

{2, 3, 4, 6, 7, 8, 9, 780, 77, 22, 23, 666, 'two', 33, 432, 54, 55, 'seven', 'one', 'thirty'}

In [156]:
Set11={1,1,1,1,5,9,0,1,1,1,2,3,4,5,6,7,8,"Apple","Cherry"}

In [158]:
print(Set11)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Apple', 'Cherry'}

# Dictionary
- It has key and value pairs
- It doesn't allow duplicate keys (only unique keys)
- Can only acces with the help of key, rather their values

In [161]:
dict1 = {1: 'name', 2: 'roll_no', 3:'marks' }

In [163]:
print(dict1)

{1: 'name', 2: 'roll_no', 3: 'marks'}

In [165]:
dict1[3]

'marks'

In [167]:
dict1['roll_no']

KeyError: 'roll_no'

# Data type conversions

In [171]:
float(10)

10.0

In [177]:
int(3.9)

3

In [181]:
float('5.5')

5.5

In [183]:
float('one')

ValueError: could not convert string to float: 'one'

In [185]:
str(20)

'20'

###  We might as well change one sequence to another

In [190]:
set([1, 2, 4, 7, 8, 8, 8, 8, 9, 9, 0])

{0, 1, 2, 4, 7, 8, 9}

In [192]:
tuple({0, 1, 2, 4, 7, 8, 9})

(0, 1, 2, 4, 7, 8, 9)

In [194]:
list('APPLE')

['A', 'P', 'P', 'L', 'E']

In [202]:
print(dict([[10, 'marks'], [30, 'roll_no']]))

{10: 'marks', 30: 'roll_no'}

In [206]:
print(dict([[10, 'marks']]))

{10: 'marks'}

# Type conversion
1. Implicit conversion
2. Explicit conversion

In [ ]:
#create an integer variable
#create a float variable
#add both the variables

In [211]:
a=10
b=10.5
c=a+b
(type(c))

float

In [ ]:
#create an integer variable
#create a string variable
#add both the variables

In [219]:
int =2
float ='5'
r= int + float
type(r)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
a = 5
b = float('4.6')
print(a+b)

9.6

In [223]:
del int

In [229]:
int('4.5')

ValueError: invalid literal for int() with base 10: '4.5'

In [17]:
list1 = [1, 2, 3, 5, 11, 44, 77]

In [19]:
list1[5]

44

In [5]:
tuple1 = (7, 8, 9)

In [21]:
list(tuple1)

[7, 8, 9]

In [9]:
# del list

# Python inputs

In [28]:
name = input('Enter the name: ')

Enter the name:  John

In [30]:
name

'John'

In [ ]:
# add 2 number
#One or both can use 'input' function
#print out the sum

In [32]:
a=int(input("Enter value for a:"))
b=int(input("Enter value for b:"))
c=a+b
print(c)

Enter value for a: 6
Enter value for b: 8

14

In [34]:
num1=int(input("Enter first number"))
num2=int(input("Enter second number"))
print(num1+num2)

Enter first number 2
Enter second number 4

6

In [44]:
a =  int(input('value for number a is :'))
b = int(input('value for number b is :'))
c = a+b
print(c)

value for number a is : 4
value for number b is : 7

11

In [46]:
NUM11 =int(input('Enter the NUM11:'))
NUM12 =int(input('Enter the NUM12:'))
out11=NUM11 + NUM12
print(out11)

Enter the NUM11: 3
Enter the NUM12: 8

11

# Arithmetic operations

In [ ]:
# add (+), subtract(-), divide(//), multiply (*), modulo(/), exp (power) -> (**)

In [ ]:
# 2 variables

In [55]:
a=20
b=7
print("Addition value:", a+b)
print("Subtraction value:", a-b)
print("Division value:", a/b)
print("multiplicaiton value:", a*b)
print("Reminder value:", a%b)
print("Quotient value:", a//b)
print("Pow value:", a**b)

Addition value: 27
Subtraction value: 13
Division value: 2.857142857142857
multiplicaiton value: 140
Reminder value: 6
Quotient value: 2
Pow value: 1280000000

# Comparison operators

In [ ]:
==, !=, |, <=, >=

In [60]:
a=20
b=7
print('a = b:', a == b)
print("a < b:", a <b)
print("a > b:", a>b)
print(" a! = b", a != b)
print("a >= b", a >= b)
print("a <= b", a<=b)
# print("Pow value:", a**b)

a = b: False
a < b: False
a > b: True
 a! = b True
a >= b True
a <= b False

# Logical operators

In [ ]:
and, or, not

In [ ]:
x = True, y = False

In [69]:
x = True #1
y = False #0

print('x AND y is:', x and y)
print('x or y is:', x or y)
print(not y)

x AND y is: False
x or y is: True
True

In [111]:
x = 1
y = 1
x1 = 'Hi'
y2 = 'Hi'
x3 = [1]
y3 = [1]
x4 = (21, 22, 23) #obj1
y4 = (21, 22, 23) #obj2

In [113]:
print(x is y)
print(x1 is y2)
print(x3 is y3)
print(x4 is y4)

True
True
False
False

In [85]:
id(x), id(y)

(140722775341784, 140722775341784)

In [101]:
id(x1), id(y2)

(1835567867552, 1835567867552)

In [93]:
id(x3), id(y3)

(1835525697216, 1835525692096)

In [95]:
id(x4), id(y4)

(1835565480064, 1835565480000)

In [148]:
a= 10; n = 65; c = 12
print(a, n, c)

10 65 12

In [ ]:
#create a string = Welcome
#use 'in' operator

In [121]:
text = "Welcome" 
print ( 'W' in text)

True

In [129]:
dict1 = {1: 'welcome', 2: 'welcome'}
print ( 2 in dict1)

True

In [ ]:
#get a number using a input function
#Check if the number is greater than 0; if yes, print True; if not print False

In [133]:
a=int(input())
if(a>0):
    print("true")
else:
    print("false")

 -4

false

In [135]:
def comp(a,b):
    if a < b:
        print(f"{a} is smaller to {b}")
    if a > b:
        print(f"{a} is greater to {b}")
    if a == b:
        print(f"{a} is equal to {b}")
    if a != b:
        print(f"{a} is not equal to {b}")
    if a >= b:
        print(f"{a} is greater or equal to {b}")
    if a <= b:
        print(f"{a} is smaller or equal to {b}")

comp(int(input('first number')), int(input('second number')))

first number 10
second number 20

10 is smaller to 20
10 is not equal to 20
10 is smaller or equal to 20

### Nested if

In [141]:
num=int(input('Enter a number'))
if num==0:
    print('Zero')
else:
    if num>0:
        print('Positive')
    else:
        print('Negative')

Enter a number 0

Zero

In [143]:
num=int(input())
if(num>0):
    print("positive")
elif(num==0):
    print("equal to 0")
else:
    print("negative")

 0

equal to 0

In [ ]:
#take a list of integers 'lsit1' [1, 2, 3] = 6

# instantiate a var = 0
#use a 'for' loop to go over the lsit1
#Add the values in the list

In [152]:
IntList = [1,2,3,4,5]
var=0
for i in IntList:
    var=var+i
    print(var)

1
3
6
10
15

In [156]:
list2 = [1,2,3,4,5,6]
len(list2)

6

In [154]:
l=[1,2,3,4,5]
x=0

length=len(l)
i=0

while i<length: 5<5
    x+=l[i] # 0 + 1 + 1 = 2 + 3 = 5
    i+=1 #updating the counter ->1 =5


print(x)

15

In [1]:
list(range(5))

[0, 1, 2, 3, 4]

In [162]:
num = int(input('Enter the number'))
sum = 0
i = 0

while i< num:
    sum = sum + i
    i = i + 1

print(sum)

Enter the number 7

21

In [160]:
listt1 =[1,3,4,3,5,3,3]

c = len (listt1) #len = 7
i =0 
J = 0

while(i < c): #i = 7, c = 7
    J= J+listt1[i] #4 + 4 = 8
    i = i+1 #update the counter
    print(J)

1
4
8
11
16
19
22

- intitialize a variable (var1)
- use a while statement (conditional check) var1< 5
- print the value inside a while looop
- use a else statemnt
- and print tthe value outside while

In [5]:
var1 = 3

while var1<5:
    print(var1, 'is inside the while loop')
    var1 = var1+1
else:
    print('Outside the loop')

3 is inside the while loop
4 is inside the while loop
Outside the loop

In [3]:
var1=1
while(var1<15):
    print(var1)
    var1=var1+1
else:
    print("else : ",var1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
else :  15

In [9]:
#While loop
list_N1 =[1,2,7,8]
l=len(list_N1)
print(l)


i=0
j=0
while i<l:
    print (list_N1[i])
    i=i+1 #updating a counter
else:
    print (list_N1[i])
    i=i+1

4
1
2
7
8

IndexError: list index out of range

### Break statement

In [13]:
for var  in 'Higher':
    if var == 'e':
        break
    print(var)

H
i
g
h

In [15]:
for var in  range(10):
    if var == 5:
        break
    print(var)

0
1
2
3
4

### Continue statement

In [20]:
for var  in 'string':
    if var == 'r':
        continue
    print(var)

s
t
r is my favourite letter
r
i
n
g

In [22]:
for var in "high-er education":
    if var == '-':
        continue
    print(var)

h
i
g
h
e
r

e
d
u
c
a
t
i
o
n

### pass statement

In [28]:
sequence = ['P', 'a', 's', 's']

for i in sequence:
    pass #further logic
    print(i)

P
a
s
s

- Pass is a null statement
- Diff b/w a pass and a comment is; pass statment is not ignore, but the comment statement is entirely ignored by python interpreter
- Pass results in no operation

In [ ]:
#comment

# Functions

- Function starts with a keyword 'def'
- Pass a parameter/arguments to a function, and it is optional
- Keyword argument and positional arguement
- A docstring is also optional to a function
- An indendation is required to follow inside a fucntion (4 spaces or in the same level)

In [37]:
def greeting(var1): #var1 = guys
    """Function to greet someone"""
    print('Hello', var1, 'Good morning') #return

##### call the function

In [40]:
greeting('guys')

Hello guys Good morning

In [42]:
print(greeting.__doc__)

Function to greet someone

In [ ]:
# finding the absolute value

In [ ]:
# create a function
# check if the value is greater than 0
# If yes return the absolute value,
# If not, return the absolute value
# Call the function

In [44]:
#finding the absolute value
def absolute(num):
    if num >= 0:
        return num
    else:
        return 0-(num)

In [48]:
absolute(-3)

3

In [52]:
abs(-4)

4

In [50]:
def sum_of_num(inp):
    if inp>0:
        val=inp
    else:
        val=abs(inp)
    return(val)

print(sum_of_num(-6))

6

In [58]:
def function1(num):
    if num > 0:
        return num
    else:
        return -num

print(function1(10))

10

In [62]:
def getAbs(num):
    """function to print abs value or not"""
    if num > 0:
        return num
    else: 
        return -(num)
getAbs(-15)

15

## Scope and lifetime of a variable

In [82]:
def func():
    var0 = 13
    print(var0, 'is inside the function')

var1 = 15

func()
print(var0, 'is outside the function')

13 is inside the function
15 is outside the function

del var1

In [92]:
var0

NameError: name 'var0' is not defined

# Function arguement

### Positional argument

In [105]:
def greet(arg1, arg2):
    """Function to print the arguments"""
    print(arg1, arg2, 'everyone')

greet('Good', 'morning')

Good morning everyone

In [121]:
def greet(name, msg = 'Evening'): #first argument is positional, second is default
    """Function to print the arguments"""
    print(name, msg, 'everyone')

greet('Good')

Good Evening everyone

### Default argument

In [107]:
def greet(arg1 = 'Evening', arg2):
    print(arg1, arg2)

SyntaxError: parameter without a default follows parameter with a default (3562803690.py, line 1)

In [ ]:
rameter without a default follows parameter with a default

In [123]:
# 2 keyword arguments
greet(name = 'guys', msg = 'How do you do')

# 2 keyword args (out of order)
greet(msg = 'How do you do', name = 'guys')

# 1 positional, 1keyword args
greet('guys', msg = 'How do you do')

guys How do you do everyone
guys How do you do everyone
guys How do you do everyone

- Order of postional arg don't matter
- We can mix the pos arg with keyword arg - that keyword arg MUST follow the pos. arg

### Arbitrary arg

In [139]:
def greet( *names, arg1 = 'Dave'):
    for i in names:
        print('My name is:', i, arg1)

# greet('John', 'Smith', 'Dave')
greet('a', arg1='b')

My name is: a b

## Recursion

In [144]:
def rec(x): #1
    if x==1: # 1 = 1
        return x
    else:
        return (x * rec(x-1)) # 5 * 4 * 3 * 2 * 1

num = 5
print('Factorial of', num, 'is', rec(num))

Factorial of 5 is 120

In [ ]:
5! -> 5 * 4 * 3 * 2 * 1

In [142]:
5 * 4 * 3 * 2 * 1

120

In [152]:
def rec(x): #1
    if x==1: # 1 = 1
        return x
    elif x< 1:
        print('Not a factorial')
    else:
        return (x * rec(x- 1)) # 5 * 4 * 3 * 2 * 1

num = -5
print('Factorial of', num, 'is', rec(num))

Not a factorial
Factorial of -5 is None

### Lambda function

- Lambda functions are called as anonymous functions

In [168]:
cube = lambda x, y : x * y
cube(3, 7)

21

In [164]:
x = 5
x * x

25

In [170]:
var=lambda var1,var2,var3: var1*var2/var3
var(20,5,50)

2.0

### Filter function

- Filters an iterable by keeping only the elements that satisfy a given condition (specified by a fn that returns True or False)

In [177]:
my_list = list(range(10))
print('My list:', my_list)

fil = list(filter(lambda x: x % 2 == 0, my_list)) #return a booolean -> True or False
print('After my filter function:', fil)

My list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After my filter function: [0, 2, 4, 6, 8]

### Map function

- Applies a function to each iteam in an interable and returns a new iterable containing the transformed values

In [180]:
my_list = list(range(10))
print('My list:', my_list)

map_fn = list(map(lambda x: x * 2, my_list))
print('After my map function:', map_fn)

My list: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
After my map function: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [192]:
my_list=list(range(10))
print(my_list)

map1=list(map(lambda x: x * 2, my_list))
print (map1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

### Global variables

In [197]:
x = 'global variable'

def func():
    local_var = 15
    print('Inside the func:', x)

func()
print('Outside the func:', x)
print('Local func:', local_var)

Inside the func: global variable
Outside the func: global variable

NameError: name 'local_var' is not defined

In [ ]:
# create a var - global var
# define a func, and access the variable
# Try to modify the variable and assign it and then
# Print the global variable and modified variable

In [219]:
var = 20

def func():
    # global var
    y = 10
    # var = var * 2
    print('My local variable:', y)
    print('My global variable:', var)

In [221]:
func()

My local variable: 10
My global variable: 40

In [207]:
var

40

### Rules of global variables
- When we create a variable inside a fn, it's local by default
- When we define a var outside a fn, it's global by default. You don't have to use a global keyword
- We use 'global' keyword to modify a global  var inside a fn
- Use a global keyword outside a fn has no effect

In [223]:
global_var = 1
def modify_fun():
    global_var = 2
    print(global_var)

modify_fun()
print(global_var)

2
1

### Nested list

In [226]:
nest_list = [1, 2, 3, [4, 5], ['six', 'seven', 'eight']]

In [228]:
print(nest_list)

[1, 2, 3, [4, 5], ['six', 'seven', 'eight']]

In [230]:
nest_list[2]

3

In [236]:
nest_list[4][2]

'eight'

In [242]:
nest_list[-1][-3]

'six'

### Append and extend  method

In [245]:
list1 = [4, 5, 6]
list1.append(7)
print(list1)

[4, 5, 6, 7]

In [247]:
list2 = [8, 9, 10]
list1.extend(list2)
print(list1)

[4, 5, 6, 7, 8, 9, 10]

In [249]:
var = 3
list1.insert(0, var)
print(list1)

[3, 4, 5, 6, 7, 8, 9, 10]

##### List concatenation

In [254]:
odd = [1, 3, 5]
print(odd + [7, 9])
print(odd)

[1, 3, 5, 7, 9]
[1, 3, 5]

In [256]:
print(['Three'] * 3)

['Three', 'Three', 'Three']

In [258]:
temp_list = [1, 2, 3]
print(temp_list)
del temp_list
print(temp_list)

[1, 2, 3]

NameError: name 'temp_list' is not defined

In [ ]:
list3 = [1, 2, 3, 4, 5] # -> 3, 4 -> 7, 8 with the help of indexing

In [262]:
list3=[1, 2, 3, 4, 5]
list3[2:8]=[7,8, 5, 2, 9, 3]
print(list3)

[1, 2, 7, 8, 5, 2, 9, 3]

In [264]:
list4 = ['r', 'e', 'm', 'o', 'v', 'e']
list4.remove('r')
print(list4) # ['e', 'm', 'o', 'v', 'e']
list4.pop(0)
print(list4) # ['m', 'o', 'v', 'e']

['e', 'm', 'o', 'v', 'e']
['m', 'o', 'v', 'e']

In [266]:
list4.clear()
print(list4)

[]

In [268]:
list1 = [7,8, 5, 2, 9, 3, 2, 2, 8]
print(list1.index(3)) #
print(list1.count(2)) #

5
3

In [270]:
list1.sort()

In [272]:
print(list1)

[2, 2, 2, 3, 5, 7, 8, 8, 9]

In [274]:
list1.reverse()
print(list1)

[9, 8, 8, 7, 5, 3, 2, 2, 2]

# List comprehension

In [ ]:
[1, 2, 3, 4, 5] = [1, 4, 9, 16, 25]

In [279]:
power1 = []

for i in range(11):
    power1.append( i ** 2)

print(power1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [282]:
[ i ** 2 for i in range(11)] # -> list comprehension

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [284]:
a=[1, 4, 9, 16, 25]
b=[i for i in a if i%2!=0]
b

[1, 9, 25]

In [288]:
[i ** 2 for i in range(20) if i%2 == 0]

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [ ]:
# range(100) -> divisible of 2 and 5

In [296]:
[i for i in range(100) if i%2==0 and i%5==0]

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [292]:
print([i for i in range(100) if i % 2 == 0 or i%5 == 0])

[0, 2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98]

In [ ]:
-> print 'Odd' if odd element, print 'even' for even element in a list

In [298]:
var1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
res = ["Odd" if num%2 != 0 else "Even" for num in var1]

print(res)

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [302]:
list2=["Even" if i%2==0 else "Odd" for i in range(10)]
print(list2)

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd']

In [306]:
[x+y for x in ['Data '] for y in ['Analyst', 'Scientist']]

['Data Analyst', 'Data Scientist']

### enumerate

In [309]:
x1 = ['Stats', 'Prob', 'Time series']
list(enumerate(x1))

[(0, 'Stats'), (1, 'Prob'), (2, 'Time series')]

In [311]:
x1 = ['Stats', 'Prob', 'Time series']
list(enumerate(x1, 100))

[(100, 'Stats'), (101, 'Prob'), (102, 'Time series')]

In [315]:
for count, val in enumerate(x1):
    print(count, val)

0 Stats
1 Prob
2 Time series

In [ ]:
# Find all the numbers from 1 - 1000 that have 3 in them

In [317]:
print([i for i in range(1000) if '3' in str(i)])

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 43, 53, 63, 73, 83, 93, 103, 113, 123, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 143, 153, 163, 173, 183, 193, 203, 213, 223, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 243, 253, 263, 273, 283, 293, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 403, 413, 423, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 443, 453, 463, 473, 483, 493, 503, 513, 523, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 543, 553, 563, 573, 583, 593, 603, 613, 623, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 643, 653, 663, 673, 683, 693, 703, 713, 723, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 743, 753, 763, 773, 783, 793, 803, 813, 823, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 843, 853, 863, 873, 883, 893, 903, 913, 923, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 943, 953, 963, 973, 983, 993]

In [319]:
[i for i in range(1,1001) if i ==3]

[3]

In [ ]:
# Count the number of spaces in a string

In [321]:
string = 'I am a Data Scientist'

len([i for i in string if i == ' '])

4

In [ ]:
#Create a list of all the vowels/consonents in a string

In [323]:
vowelinstring = [i for i in 'hi how are you' if i in ['a','e','i','o','u']]

print(vowelinstring)

['i', 'o', 'a', 'e', 'o', 'u']

In [325]:
string = 'hi, how are you'

print([i for i in string if i not in ['a', 'e', 'i', 'o', 'u', ' ']])

['h', ',', 'h', 'w', 'r', 'y']

In [329]:
list1 = ['Hello', 'Morning', 456, 000, 'text'] 
# Get the index and the value for items in tuple for the above list

In [333]:
[(index, val) for index, val in enumerate (list1)]

[(0, 'Hello'), (1, 'Morning'), (2, 456), (3, 0), (4, 'text')]

In [ ]:
# Find the common number in two list (using List Comprehension)

In [335]:
x=['hello','morning',456,000,"text"]
result=[(i,x[i]) for i in range(len(x))]
print(result)

[(0, 'hello'), (1, 'morning'), (2, 456), (3, 0), (4, 'text')]

In [337]:
a = [1,2,3,4,5]
b=[3,2,6,8,8]
[ i for i in a if i in b]

[2, 3]

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9]
listb = [2, 7, 1, 12]

Produce a list of tuples consisting of only the matching numbers in the above 2 lists

In [339]:
lista= [1,2,3,4,5,6,7,8, 9]
listb= [2,7,1,12]

print([(i, j) for i in lista for j in listb if i==j])

[(1, 1), (2, 2), (7, 7)]

### Changing a Tuple

In [342]:
tupl1 = (0, 3, [7, 8, 9])
tupl1[2][2] = 6
tupl1

(0, 3, [7, 8, 6])

In [344]:
tupl1 = (0, 3, [7, 8, 9])
tupl1[1] = 6
tupl1

TypeError: 'tuple' object does not support item assignment

### Escape sequence

In [347]:
print('''Hello, how's it going''')

Hello, how's it going

In [349]:
print('He said, "What\'s there?"')

He said, "What's there?"

In [353]:
# How come modifying the list inside tuple not creating the copy of tuple object? Memory address not changing after modification. 

tup = (1,2,3,[5,6,7])
print(id(tup))
tup[3][1] = 10
tup
print(id(tup))

tup = tup + (9, 10)
print(id(tup))

2602123901056
2602123901056
2602124291872

In [ ]:
{int, float, str, tuple/list}

In [357]:
set1 = {1, 2.0, 'myString', (1,2,3)}
set1

{(1, 2, 3), 1, 2.0, 'myString'}

In [359]:
set1 = {1, 2.0, 'myString', [1,2,3]}
set1

TypeError: unhashable type: 'list'

In [361]:
var1 = {}
type(var1)

dict

In [363]:
var1 = set()
type(var1)

set

### Changing set

In [366]:
my_set = {1, 3}

#add an element
my_set.add(2)
print(my_set)

{1, 2, 3}

In [368]:
#add multiple elements
my_set.update([2, 3, 4])
print(my_set)

{1, 2, 3, 4}

In [370]:
# add list and set
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 2, 3, 4, 5, 6, 8}

In [372]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

#discard an element
my_set.discard(4)
print(my_set)

#remove an element
my_set.remove(6)
print(my_set)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}

In [374]:
my_set = {1, 3, 4, 5, 6}
print(my_set)

my_set.discard(10)
my_set.remove(10)

{1, 3, 4, 5, 6}

KeyError: 10

In [376]:
set1 = {1,1.1,'string',(1,2,2)}
print(set1)

{1, 'string', 1.1, (1, 2, 2)}

In [378]:
set1 = {1, 1.1,'string',(1,2,2), (1,2,2) }
print(set1)

{1, 'string', 1.1, (1, 2, 2)}

# Iterators

In [381]:
my_list = [8, 7, 6, 3]

my_iter = iter(my_list)

In [383]:
print(next(my_iter))

8

In [385]:
print(next(my_iter))

7

In [387]:
print(my_iter.__next__())

6

In [389]:
print(my_iter.__next__())

3

In [391]:
print(my_iter.__next__())

StopIteration:

# Generator

- A simple way of creating iterators
- A generator func returns an object, which we iterate over (one value at a time)
- A keyword called 'yield' differentiates a generator fn vs a normal fn
- It can have one or more yield keyword

In [395]:
def my_gen():
    n = 1
    print('This is my first printed statement')
    yield n
    n += 1
    print('This is my second printed statement')
    yield n
    n += 1
    print('This is my third printed statement')  
    yield n

In [397]:
my_gen()

In [399]:
var1 = my_gen()

In [401]:
next(var1)

This is my first printed statement

1

In [403]:
next(var1)

This is my second printed statement

2

In [405]:
next(var1)

This is my third printed statement

3

In [407]:
next(var1)

StopIteration:

In [445]:
var1 = 10
def gen2():
    for i in range(5):
        global var1
        var1 = var1 + 100
        print(i + var1, 'iteration')
        yield i

In [447]:
var2 = gen2()

In [449]:
print(next(var2))
# print(next(var2))
# print(next(var2))
# print(next(var2))
# print(next(var2))

110 iteration
0

In [453]:
print(next(var2))

211 iteration
1

In [455]:
var1

210

In [457]:
print(next(var2))
print(next(var2))
print(next(var2))

312 iteration
2
413 iteration
3
514 iteration
4

In [459]:
var1

510

In [417]:
print(next(var2))

StopIteration:

# Generator expression

In [462]:
list5 = [10, 20, 30, 40, 50]
[x ** 2 for x in list5]

[100, 400, 900, 1600, 2500]

In [464]:
(x ** 2 for x in list5)

In [466]:
my_gen1 = (x ** 2 for x in list5)

In [468]:
print(next(my_gen1))

100

In [470]:
print(next(my_gen1))
print(next(my_gen1))
print(next(my_gen1))
print(next(my_gen1))

400
900
1600
2500

In [472]:
print(next(my_gen1))

StopIteration:

In [474]:
sum(x ** 3 for x in list5)

225000

In [482]:
# print(pandas.__version__)
pandas.show_version()

NameError: name 'pandas' is not defined